{% extends "admin/admin_base.html" %}
{% block title %}Add game img{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}


    <p class="important">
        <h5>ADD IMAGE</h5><br>
        <center>
            <form action="/admin/create_game" method="post" enctype=multipart/form-data>
                <table>
                    <tr>
                        <th>Add Image :&nbsp;&nbsp;&nbsp;</th>
                        <th>
                            <input type="file" name="pic" id="pic"></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="SUBMIT">
                        </td>
                    </tr>
                </table>
            </form>
        </center>
    </p>
{% endblock %}
