{% extends "admin/admin_base.html" %}
{% block title %}Admin page{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}



<p class="important">

      WELCOME ADMIN
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SPOT THE BALL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
        <li><a href="/admin/create_game">CREATE GAME</a></li>
        <li><a href="/admin/game_result">GAME RESULT</a></li>
        <li><a href="/admin/work">HOW IT WORKS</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">

            <li><a href="{{ url_for('clearsession1') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>
        </ul>
    </div>
  </div>
</nav>
<br><br><br><br>
<div class="container">
  <div class="row">



</p>
{% endblock %}
