{% extends "admin/admin_base.html" %}
{% block title %}Admin login Page{% endblock %}

{% block head %}

  {{ super() }}
<style>
    br{line-height:10em;}
</style>

{% endblock %}
{% block content %}
 &nbsp;
  <!--div class="container">
      <!--div class="row">
          <div class="col-sm-12"-->
             <div class="jumbotron text-center">
                 <div id="signup" class="span3 well well-large offset4">

<p class="important">

    {% if session['name'] %}<br><br>

    {% else %}
 <center>
    <h4>Admin Login</h4><br>
        <form class="form" action="/admin_login" method="post">
            <table>
                <tr>
                    <th>EMAIL ID :</th><th><input type="email" size="30" name="email" required=""></tr>
                </tr>

                <tr>
                    <th>PASSWORD :</th><th><input type="password" size="30" name="password" required=""></tr>
                </tr>
                <tr>
                    <th><label class="checkbox" for="rememberme"></th>
                    <th><input type="checkbox" /> Remember me</label></th>
                </tr>
                <tr>

                    <th></th>
                    <th><input class="btn btn-success" type="submit" value="Login">
                </tr>
            </table>
        </form>
 </center><br>


    {% endif %}
</p></div></div>
{% endblock %}
