<!DOCTYPE html>
<html lang="en">
<head>
  <title>SPOT THE BALL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{url_for('static', filename='create_game.js')}}"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/home">SPOT THE BALL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
        <li><a href="/admin/add_game_img">CREATE GAME</a></li>
        <li><a href="/admin/game_result">GAME RESULT</a></li>
        <li><a href="/admin/work">HOW IT WORKS</a></li>
      </ul>
           <ul class="nav navbar-nav navbar-right">

            <li><a href="{{ url_for('clearsession1') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>
        </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">

    <div class="col-sm-12">

<div class="jumbotron text-center">
<img id="bg" width="0" height="" src="{{ imgGame }}">
<img id="ball" width="0" height="0" src="../static/images/ball.png" alt="Ball">

<canvas id="myCanvas" width="1050" height="660">
</canvas>

</div>
    </div></div></div>

<form action="/add_game" method="post" enctype=multipart/form-data>
        <center><table>
            <tr>
                <th></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Left 'EYE'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Right 'EYE'
               </th>
            </tr>
            <tr>
                <th></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y
               </th>
            </tr>
            <tr>
                <th>Face-1 :</th><th>

                    <input type="hidden" name="bgImg" value="{{ imgGame }}">

                    <input type="text" id="x1" name="x1" size="10" onclick="setSelectedItem('EYE', 1)" oninput="handleTextChanged('EYE', 1)" required="">
                    <input type="text" id ="y1" name="y1" size="10" onclick="setSelectedItem('EYE', 1)"  oninput="handleTextChanged('EYE', 1)" required="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x2" name="x2" size="10" onclick="setSelectedItem('EYE', 2)"  oninput="handleTextChanged('EYE', 2)" required="">
                    <input type="text" id="y2" name="y2" size="10"onclick="setSelectedItem('EYE', 2)"  oninput="handleTextChanged('EYE', 2)" required=""></th>
            </tr>
            <tr>
                <th>Face-2 :</th><th>
                    <input type="text" id="x3" name="x3" size="10" onclick="setSelectedItem('EYE', 3)"  oninput="handleTextChanged('EYE', 3)" required="">
                    <input type="text" id="y3" name="y3" size="10" onclick="setSelectedItem('EYE', 3)"  oninput="handleTextChanged('EYE', 3)" required="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x4" name="x4" size="10" onclick="setSelectedItem('EYE', 4)"  oninput="handleTextChanged('EYE', 4)" required="">
                    <input type="text" id="y4" name="y4" size="10" onclick="setSelectedItem('EYE', 4)"  oninput="handleTextChanged('EYE', 4)" required=""></th>
            </tr>
            <tr>
                <th>Face-3 :</th><th>
                    <input type="text" id="x5" name="x5" size="10" onclick="setSelectedItem('EYE', 5)"  oninput="handleTextChanged('EYE', 5)" required="">
                    <input type="text" id="y5"name="y5" size="10"onclick="setSelectedItem('EYE', 5)"  oninput="handleTextChanged('EYE', 5)" required="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x6" name="x6" size="10" onclick="setSelectedItem('EYE', 6)"  oninput="handleTextChanged('EYE', 6)" required="">
                    <input type="text" id="y6" name="y6" size="10" onclick="setSelectedItem('EYE', 6)"  oninput="handleTextChanged('EYE', 6)" required=""></th>
            </tr>
            <tr>
                <th>Face-4 :</th><th>
                    <input type="text" id="x7" name="x7" size="10" onclick="setSelectedItem('EYE', 7)"  oninput="handleTextChanged('EYE', 7)"  required="">
                    <input type="text" id="y7" name="y7" size="10" onclick="setSelectedItem('EYE', 7)"  oninput="handleTextChanged('EYE', 7)" required="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x8" name="x8" size="10" onclick="setSelectedItem('EYE', 8)"  oninput="handleTextChanged('EYE', 8)" required="">
                    <input type="text" id="y8" name="y8" size="10" onclick="setSelectedItem('EYE', 8)"  oninput="handleTextChanged('EYE', 8)" required=""></th>
            </tr>
            <tr>
                <th>Ball&nbsp;&nbsp; pixel :</th><th>
                    <input type="text" id="ball_x" name="ball_x" size="10" onclick="setSelectedItem('BALL', 0)"  oninput="handleTextChanged('BALL', 0)" required="">
                    <input type="text" id="ball_y" name="ball_y" size="10" onclick="setSelectedItem('BALL', 0)"  oninput="handleTextChanged('BALL', 0)" required=""></th>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;</th>
            </tr>
            <tr>
                <th></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="SUBMIT"></th>
            </tr>

        </table></center>
        </form>
<br>
<span id="tip">Tip: Some quick help will be shown here.</span>
</body>
</html>
