{% extends "admin/admin_base.html" %}
{% block title %}Admin page{% endblock %}
{% block head %}
  {{ super() }}
<script src="{{url_for('static', filename='create_game.js')}}"></script>
<style>
tab1 { padding-left: 4em; }
tab2 { padding-left: 11em;}
tab3 { padding-left: 3em; }
tab4 { padding-left: 6em; }
tab5 { padding-left: 2em; }

</style>

{% endblock %}
{% block content %}
    {% if session['name'] %} &nbsp;

    {% else %} <p style="color: red;">Please login first...</p>

    {% endif %}

  <!--div class="container">
      <!--div class="row">
          <div class="col-sm-12"-->
             <div class="jumbotron text-center">
                 <div id="signup" class="span3 well well-large offset4">

<p class="important">
<img id="bg" width="0" height="" src="{{ imgGame }}">
<img id="ball" width="0" height="0" src="../static/images/ball.png" alt="Ball">

<canvas id="myCanvas" width="1050" height="660">
</canvas>



<form action="/add_game" method="post" enctype=multipart/form-data>
        <center><table>
            <tr>
                <th></th><th><tab3><tab5>Left 'EYE'<tab2>Right 'EYE'
               </th>
            </tr>
            <tr>
                <th></th><th><tab3>X<tab4>Y<tab4><tab3>X<tab4> Y
               </th>
            </tr>
            <tr>
                <th>Face-1 :</th><th>


                    <input type="hidden" name="bgImg" value="{{ imgGame }}">

                    <input type="text" id="x1" name="x1" size="10" onclick="setSelectedItem('EYE', 1)" oninput="handleTextChanged('EYE', 1)" required="">
                    <input type="text" id ="y1" name="y1" size="10" onclick="setSelectedItem('EYE', 1)"  oninput="handleTextChanged('EYE', 1)" required="">
                    <tab5>
                    <input type="text" id="x2" name="x2" size="10" onclick="setSelectedItem('EYE', 2)"  oninput="handleTextChanged('EYE', 2)" required="">
                    <input type="text" id="y2" name="y2" size="10"onclick="setSelectedItem('EYE', 2)"  oninput="handleTextChanged('EYE', 2)" required=""></th>
            </tr>
            <tr>
                <th>Face-2 :</th><th>
                    <input type="text" id="x3" name="x3" size="10" onclick="setSelectedItem('EYE', 3)"  oninput="handleTextChanged('EYE', 3)" required="">
                    <input type="text" id="y3" name="y3" size="10" onclick="setSelectedItem('EYE', 3)"  oninput="handleTextChanged('EYE', 3)" required="">
                    <tab5>
                    <input type="text" id="x4" name="x4" size="10" onclick="setSelectedItem('EYE', 4)"  oninput="handleTextChanged('EYE', 4)" required="">
                    <input type="text" id="y4" name="y4" size="10" onclick="setSelectedItem('EYE', 4)"  oninput="handleTextChanged('EYE', 4)" required=""></th>
            </tr>
            <tr>
                <th>Face-3 :</th><th>
                    <input type="text" id="x5" name="x5" size="10" onclick="setSelectedItem('EYE', 5)"  oninput="handleTextChanged('EYE', 5)" required="">
                    <input type="text" id="y5"name="y5" size="10"onclick="setSelectedItem('EYE', 5)"  oninput="handleTextChanged('EYE', 5)" required="">
                    <tab5>
                    <input type="text" id="x6" name="x6" size="10" onclick="setSelectedItem('EYE', 6)"  oninput="handleTextChanged('EYE', 6)" required="">
                    <input type="text" id="y6" name="y6" size="10" onclick="setSelectedItem('EYE', 6)"  oninput="handleTextChanged('EYE', 6)" required=""></th>
            </tr>
            <tr>
                <th>Face-4 :</th><th>
                    <input type="text" id="x7" name="x7" size="10" onclick="setSelectedItem('EYE', 7)"  oninput="handleTextChanged('EYE', 7)"  required="">
                    <input type="text" id="y7" name="y7" size="10" onclick="setSelectedItem('EYE', 7)"  oninput="handleTextChanged('EYE', 7)" required="">
                    <tab5>
                    <input type="text" id="x8" name="x8" size="10" onclick="setSelectedItem('EYE', 8)"  oninput="handleTextChanged('EYE', 8)" required="">
                    <input type="text" id="y8" name="y8" size="10" onclick="setSelectedItem('EYE', 8)"  oninput="handleTextChanged('EYE', 8)" required=""></th>
            </tr>

            <tr>
                <th>Ball pixel :</th><th>
                    <input type="text" id="ball_x" name="ball_x" size="10" onclick="setSelectedItem('BALL', 0)"  oninput="handleTextChanged('BALL', 0)" required="">
                    <input type="text" id="ball_y" name="ball_y" size="10" onclick="setSelectedItem('BALL', 0)"  oninput="handleTextChanged('BALL', 0)" required=""></th>
            </tr>
            <tr>
                <th></th>
            </tr>
            <tr>
                <th></th><th><tab1>
                <input type="submit" value="SUBMIT"></th>
            </tr>

        </table></center>
        </form>
<br>
<span id="tip">Tip: Some quick help will be shown here.</span>
</p></div></div>
{% endblock %}

