<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form>
    <center>
    <h2><p style="color: red;">registration form</p></h2>
    <table>


        <tr>
            <th>
                name :
            </th>
            <td>
                <input type="text" value="" name="">
            </td>
        </tr>

        <tr>
            <th>
                email :
            </th>
            <td>
                <input type="email" value="" name="">
            </td>
        </tr>

        <tr>
            <th>
                password:
            </th>
            <td>
                <input type="password" value="" name="">
            </td>
        </tr>


        <tr>
            <th>
            </th>
            <td>
                <input type="submit" value="done" name="">
            </td>
        </tr>
        <a href="demo.html">login page</a>


    </table>
        </center>
</form>


</body>
</html>
