<!DOCTYPE html>

<head>
  <title>SPOT THE BALL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryython /3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/home">SPOT THE BALL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
        <li><a href="/admin/create_game">CREATE GAME</a></li>
        <li><a href="/admin/game_result">GAME RESULT</a></li>
        <li><a href="/admin/work">HOW IT WORKS</a></li>
      </ul>
               <ul class="nav navbar-nav navbar-right">

            <li><a href="{{ url_for('clearsession1') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>
        </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
      <div class="col-sm-12">
          <div class="jumbotron text-center">

<video width="600" controls>
  <source src="static/vedio/v.mp4" type="video/mp4">
  <source src="mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>
          </div>
      </div>
  </div>
</div>



</body>
</html>
