{% extends "admin/admin_base.html" %}
{% block title %}Working Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}

{% block content %}
    {% if session['name'] %} &nbsp;

    {% else %} <p style="color: red;">Please login first...</p>

    {% endif %}
  <!--div class="container">
      <!--div class="row">
          <div class="col-sm-12"-->
             <div class="jumbotron text-center">
                 <div id="signup" class="span3 well well-large offset4">
                     <p class="important">
                 <iframe src="https://www.youtube.com/embed/rcuB_J2iBbM" width="1050" height="620" frameborder="10" allowfullscreen></iframe>
                     </p></div></div>
{% endblock %}

