<!DOCTYPE html>
<html lang="en">
<head>
    <title>SPOT THE BALL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />


</head>

<body>

<h4>SPOT THE BALL</h4><br><br>
    <div id="login" class="span3 well well-large offset4">
        <h5>ADD IMAGE</h5><br>
        <center>
        <form action="/create_game" method="post" enctype=multipart/form-data>
        <table>
            <tr>
                <th>Add Image :&nbsp;&nbsp;&nbsp;</th>
                <th><input type="file" name="pic" id="pic"></th>
            </tr>
            <tr>
                <td>
                <input type="submit" value="SUBMIT">
                </td>
            </tr>

        </table>
        </form>
        </center>
    </div>
</body>
</html>
