<!DOCTYPE html>
<html lang="en">
<head>
    <title>SPOT THE BALL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    -->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="create_game.js"></script>


</head>
<body>

<!--
<img src="{{ imgGame }}"></img>
-->
<img id="bg" width="0" height="" src="3.jpg"></img>
<img id="ball" width="0" height="0" src="../static/images/ball.png" alt="Ball">

<canvas id="myCanvas" width="1050" height="660">
</canvas>


<form action="/add_game" method="post" enctype=multipart/form-data>
        <table>
            <tr>
                <th></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Left 'EYE'  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Right 'EYE'
               </th>
            </tr>
            <tr>
                <th></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y
               </th>
            </tr>
            <tr>
                <th>Face-1 :</th><th>
                    <input type="text" id="x1" name="x1" size="10" onclick="setSelectedItem('EYE', 1)" oninput="handleTextChanged('EYE', 1)">  
                    <input type="text" id ="y1" name="y1" size="10" onclick="setSelectedItem('EYE', 1)"  oninput="handleTextChanged('EYE', 1)">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x2" name="x2" size="10" onclick="setSelectedItem('EYE', 2)"  oninput="handleTextChanged('EYE', 2)"> 
                    <input type="text" id="y2" name="y2" size="10"onclick="setSelectedItem('EYE', 2)"  oninput="handleTextChanged('EYE', 2)"></th>
            </tr>
            <tr>
                <th>Face-2 :</th><th>
                    <input type="text" id="x3" name="x3" size="10" onclick="setSelectedItem('EYE', 3)"  oninput="handleTextChanged('EYE', 3)">
                    <input type="text" id="y3" name="y3" size="10" onclick="setSelectedItem('EYE', 3)"  oninput="handleTextChanged('EYE', 3)">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x4" name="x4" size="10" onclick="setSelectedItem('EYE', 4)"  oninput="handleTextChanged('EYE', 4)">  
                    <input type="text" id="y4" name="y4" size="10" onclick="setSelectedItem('EYE', 4)"  oninput="handleTextChanged('EYE', 4)"></th>
            </tr>
            <tr>
                <th>Face-3 :</th><th>
                    <input type="text" id="x5" name="x5" size="10" onclick="setSelectedItem('EYE', 5)"  oninput="handleTextChanged('EYE', 5)"> 
                    <input type="text" id="y5"name="y5" size="10"onclick="setSelectedItem('EYE', 5)"  oninput="handleTextChanged('EYE', 5)">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x6" name="x6" size="10" onclick="setSelectedItem('EYE', 6)"  oninput="handleTextChanged('EYE', 6)"> 
                    <input type="text" id="y6" name="y6" size="10" onclick="setSelectedItem('EYE', 6)"  oninput="handleTextChanged('EYE', 6)"></th>
            </tr>
            <tr>
                <th>Face-4 :</th><th>
                    <input type="text" id="x7" name="x7" size="10" onclick="setSelectedItem('EYE', 7)"  oninput="handleTextChanged('EYE', 7)">  
                    <input type="text" id="y7" name="y7" size="10" onclick="setSelectedItem('EYE', 7)"  oninput="handleTextChanged('EYE', 7)">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="x8" name="x8" size="10" onclick="setSelectedItem('EYE', 8)"  oninput="handleTextChanged('EYE', 8)">  
                    <input type="text" id="y8" name="y8" size="10" onclick="setSelectedItem('EYE', 8)"  oninput="handleTextChanged('EYE', 8)"></th>
            </tr>
            <tr>
                <th>Ball&nbsp;&nbsp; pixel :</th><th>
                    <input type="text" id="ball_x" name="ball_x" size="10" onclick="setSelectedItem('BALL', 0)"  oninput="handleTextChanged('BALL', 0)">  
                    <input type="text" id="ball_y" name="ball_y" size="10" onclick="setSelectedItem('BALL', 0)"  oninput="handleTextChanged('BALL', 0)"></th>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;</th>
            </tr>
            <tr>
                <th></th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="SUBMIT"></th>
            </tr>

        </table>
        </form>
<br>
<span id="tip">Tip: Some quick help will be shown here.</span>
</body>
</html>
