{% extends "user/user_base.html" %}
{% block title %}Play game Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    {% if session['name'] %}

    {% else %} <p style="color: red;">Please login first...</p>

    {% endif %}

<div class="jumbotron text-center">
<div id="signup" class="span3 well well-large offset4">
<p class="important">

<h3>GAME</h3>

<img id="bg" width="0" id="image" height="" src="{{ game['pic'] }}">
<img id="ball" width="0" height="0" src="../static/images/ball.png" alt="Ball">

<canvas id="myCanvas" width="1050" height="660"></canvas>


<script src="{{url_for('static', filename='js/play_game.js')}}"></script>

    <form action="/save_user_ball_position" method="post">
    <input type="hidden" value="{{ game['_id'] }}" id="game_id" name="game_id">
    <input type="hidden" value="{{session['name']}}" name="user">
    <input type="hidden" value="ball" id="ball_x" name="ball_x">
    <input type="hidden" value="ball" id="ball_y" name="ball_y">

    <center><button type="submit" class="btn btn-success">DONE</button></center>
</form>


</p></div>
</div>
{% endblock %}
