<!DOCTYPE html>
<html lang="en">
<head>
  <title>SPOT THE BALL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user/home">SPOT THE BALL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">

        <li><a href="/user/playgame">PLAY GAME</a></li>
        <li><a href="/user/game_result">GAME RESULT</a></li>
        <li><a href="/user/work">HOW IT WORKS</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
                  {% if session['name'] %}
            <li><a href="{{ url_for('clearsession') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>

        {% else %}        <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>{% endif %}

              </ul>
  </div>
</nav>
<div class="container">
  <div class="row">

    <div class="col-sm-12">

<div class="jumbotron text-center">



        <img id="bg" width="0" height="0" src="static/image/3.jpg" alt="Game Background">
        <img id="ball" width="0" height="0" src="{{ url_for('static', filename='images/ball.png') }}" alt="Ball">

        <canvas id="myCanvas" width="1050" height="660" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
        </canvas>

        <script>


//####################//
//                    //
//        class       //
//                    //
//####################//
function Point(x,y)
{
    this.x = x;
    this.y = y;
}

var currentGame;

var canvas  = canvas = document.getElementById("myCanvas");
var ctx     = canvas.getContext("2d");
var imgBg   = document.getElementById("bg");
var imgBall = document.getElementById("ball");

//#########################################//
//                                         //
//      print pixel of mouse in logs       //
//                                         //
//#########################################//

// canvas.addEventListener('mousemove', function(evt) {
//        var mousePos = getMousePos(canvas, evt);
//      wwwzzsddda  var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
//        console.log(message);
// }, false);


var ball = new Point(365, 133);
ball.width = 80;
ball.height = 80;


//####################//
//                    //
//        eyes        //
//                    //
//####################//
/*
var eyes = [
    new Point(140, 423),
    new Point(170, 425),

    new Point(336, 535),
    new Point(376, 532),

    new Point(680, 188),
    new Point(713, 187),


];
*/

//#########################################//
//                                         //
//               Mouse position            //
//                                         //
//#########################################//
function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
        x: evt.clientX - rect.left,
        y: evt.clientY - rect.top
    };
}




//#################################################################//
//                                                                 //
//    canvas.addEventListener("keydown", handleKeyDown, true);     //
//                                                                 //
//#################################################################//
function drawScene() {



    console.log("Canvas: " + canvas.width + "X" + canvas.height);

    // use this trick to clear canvas
    canvas.width = canvas.width;
    //canvas.height = canvas.height;

    //#########################################//
    //                                         //
    //         drawing background image        //
    //                                         //
    //#########################################//
    ctx.drawImage(imgBg, 0, 0);


    //#########################################//
    //                                         //
    //         draw eye lines to ball          //
    //                                         //
    //#########################################//
    var eyes = currentGame.eyes;
    for(var i=0; i < eyes.length; i++) {
        var eye = eyes[i];
        ctx.rect(eye.x, eye.y, 2, 2);
        ctx.stroke();

        ctx.moveTo(eye.x, eye.y);
        ctx.lineTo(ball.x + ball.width/2, ball.y + ball.height/2);
        ctx.stroke();
    }


    //#########################################//
    //                                         //
    //                drawing ball             //
    //                                         //
    //#########################################//
    ctx.drawImage(imgBall, ball.x, ball.y);

}//drawScene

function logGame(game) {
    console.log("Pic: " + game.pic);
}


function loadGame(data) {

                                           console.log("Data: " + data);

                                           var obj = JSON.parse(data);
                                           var game = obj.game[0];

                                           console.log("Msg: " + obj.msg);
                                           console.log("Error: " + obj.err);

                                           logGame(game);

                                           currentGame = game;
                                           $("#bg").attr('src', currentGame.pic);
                                           drawScene();

}


                                           window.onload = function() {
                                           $.get( "/get_game", function( data ) {
                                           $( ".result" ).html( data );
                                           loadGame(data);
                                           });

                                           };

                                           document.onkeydown = checkKey;

                                           function checkKey(e) {

                                           e = e || window.event;

                                           if (e.keyCode == '38') {
                                           console.log("-- up --");
                                           moveUp();
                                           }
                                           else if (e.keyCode == '40') {
                                           console.log("-- down --");
                                           moveDown();
                                           }
                                           else if (e.keyCode == '37') {
                                           console.log("-- left --");
                                           moveLeft();
                                           }
                                           else if (e.keyCode == '39') {
                                           console.log("-- right --");
                                           moveRight();
                                           }

                                           }

                                           function moveLeft() {
                                           if(ball.x -5 < 0) return;
                                           ball.x -= 5;
                                           drawScene();
                                           }

                                           function moveRight() {
                                           if(ball.x + ball.width + 5 > canvas.width) return;
                                           ball.x += 5;
                                           drawScene();
                                           }

                                           function moveUp() {
                                           if(ball.y -5 < 0) return;
                                           ball.y -= 5;
                                           drawScene();
                                           }

                                           function moveDown() {
                                           if(ball.y + ball.height + 5 > canvas.height) return;
                                           ball.y += 5;
                                           drawScene();
                                           }

//#########################################//
//                                         //
//            move ball with key           //
//                                         //
//#########################################//
window.addEventListener( "keypress", handleKeyup, false );

function handleKeyup(e) {

    console.log( "key" + e.keyCode );

    if (e.keyCode == 97) { // a
        moveLeft();
    }

    if (e.keyCode == 100) { // d
        moveRight();
    }

    if (e.keyCode == 119) { // w
        moveUp();
    }

    if (e.keyCode == 122) { // z
        moveDown();
    }

}

/*
   --------------------------------------------------------


// mongo dict to save

game = {
"img": "http://abc/1.png",
"eyes": [
{"x": 45, "y": 120},
{"x": 68, "y": 77},
{"x": 90, "y": 100},
{"x": 244, "y": 23},
],
"ball": {
"x": 100,
"y": 150
}
}



 */



        </script>
    </div>
    </div>
    </div></div>
        <input type="button" value="done">


</body>
</html>
