{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}


<p class="important">
<br><br><br><br><br>

              <ul class="nav navbar-nav navbar-right">
                  {% if session['name'] %}
            <li><a href="{{ url_for('clearsession') }}"><span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout</a></li>


        {% else %}        <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>{% endif %}

              </ul>
  </div>
</nav>
               {% if session['name'] %}Welcome :&emsp;{{session['name']}}


        {% else %} logout success
                   {% endif %}<br><br><br><br><br></p>
{% endblock %}

