{% extends "user/user_base.html" %}
{% block title %}Working Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}

{% block content %}

             <div class="jumbotron text-center">
                 <div id="signup" class="span3 well well-large offset4">
                     <p class="important">
                         {% if session['name'] %}
                 <iframe src="https://www.youtube.com/embed/rcuB_J2iBbM" width="1050" height="620" frameborder="10" allowfullscreen></iframe>

                           {% else %}

  {% include 'user/session.html' %}
  {% endif %}</p></div></div>
{% endblock %}

